/*global variables*/
:root {
  --main-green: #2DAF58;
  --dark-green: #0F351B;
}

:root { 
  --small: 13px;
  --medium: 17px;
  --large: 38px;
  --Biggest: 56px;
}


/*global classes*/
.d-flex { 
  display: flex; 
  align-items: center; 
}
.low_margin {
	margin: 0;
	padding: 0 0 5px 0;
}

body {
  background-image: url(../img/background.svg);
  position: relative;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Chava';
  font-size: var(--medium);
  color: var(--main-green);
}

.container {
  position: relative;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 60px;
  padding-right: 60px;
}

/* начало header */

.header {
  margin-top: 40px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-img {
  width: 135px;
}

.header-menu-btn {
  text-decoration: none;
  margin-right: 15px;
  white-space: nowrap;
  color: var(--main-green);
}

.header-reg-btn {
  text-decoration: none;
  border: none;
  white-space: nowrap;
  color: var(--main-green);
}
/* конец header */


/* начало секции 1 */
.main_info {
  margin-top: 100px;
}

.text-info {
  width: 65%;
}

.main_info-icon {
  display: flex;
  justify-content: right; 
  width: 35%;
}

.main_info-img {
  margin-right: 30px;
  height: 450px;
  display: block;
}

.main_info-header {
  font-size: var(--large);
}
.main_info-content {
  margin-bottom: 35px;
}

.reg-btn {
  color: var(--main-green);
  font-size: calc(var(--medium) * 1.4);
  padding: 15px;
  text-decoration: none;
  border: 1px solid var(--main-green);
  transition: all ease 0.5s;
}
/* конец секции 1 */


/* начало секции 2 */
.about_olimpiad {
  margin-bottom: 50px;
}
.about-header {
  font-size: var(--large);
}
.about-content {
  font-size: var(--small);
}
/* конец секции 2 */


/* начало секции 3 */
.directions {
  background-color: var(--main-green);
  margin-top: 30px;
}
.direction-info {
  margin: 0;
	padding: 0 0 5px 0;
}

.directions-header {
  position: relative;
  margin-top: 20px;
  padding-bottom: 30px;
  height: 100px;
  display: flex;
}
.header-label {
  color: black;
  text-align: right;
  padding-right: 30px;
  height: 100%;
  width: 50%;
  background-color: var(--main-green);
}
.header_label_text {
  font-size: var(--Biggest);;
}
.header-comments {
  height: 100%;
  width: 50%;
  background-color: black;
  color: var(--dark-green);
}

.directions-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  color: black;
}
.compony-logo1 {
  height: 35px;
}
.compony-logo2 {
  height: 80px;
}
.direction-header {
  margin: 15px 0 5px 0;
  font-size: var(--small);
}
.directions-item {
  padding: 15px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
}
.directions-item:nth-child(7) { border-bottom: none; }
.directions-item:nth-child(3n) { border-right: none; }
/* конец секции 3 */



/* начало секции 4 */
.stages {
  margin-bottom: 40px;
}
.stages-conteiner {
  font-size: 24px;
  margin-bottom: 40px;
}
.background-img {
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url(../img/numbers.svg);
  z-index: -1;
  width: 50%;
}
.sec_stage-text {
  margin: 0;
	padding: 10px 0 5px 0;
}
.sec_stage-text::before {
  margin-right: 4px;
  font-size: 25px;
  content: "▪";
}
.stages-header {
  font-size: calc((var(--large)  * 1.8));
  margin-bottom: 50px;
}
.sec_stage-header {
  line-height: 58px;
  font-size: calc((var(--large) * 1.3));
}
/* конец секции 4 */

/* footer */
footer {
  padding-bottom: 50px;
}
.footer-data {
  margin-right: 30px;
  white-space: nowrap;
}
.footer-links {
  margin-right: 10px;
  white-space: nowrap;
  color: var(--main-green);
}
/* конец footer */

/* анимации */
.reg-btn:hover {
  background: var(--main-green);
  color: black;
  transition: 0.7s;
}
/* анимации */


