/*global variables*/
:root {
  --main-green: #2DAF58;
  --dark-green: #0F351B;
}

:root { 
  --small: 14px;
  --medium: 18px;
  --medium_2: 24px;

  --large: 42px;
  --Large_2: 48px; 

  --Biggest: 64px;

  --containerPadding: 120px;
}

/*global classes*/
.d-flex { 
  display: flex; 
  align-items: center; 
}
.low_margin {
	margin: 0;
	padding: 0 0 5px 0;
}

body {
  background-image: url(../img/background.svg);
  position: relative;
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Chava';
  font-size: var(--medium);
  color: var(--main-green);
}

.container {
  position: relative;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);
}

/* начало header */

.header {
  margin-top: 25px;
}

.burger-button {
  transition-duration: .3s;
  color: var(--main-green);
  z-index: 11;
  position: relative;
  display: none;
  width: 35px;
  height: 17.5px;
  border-top: 5px solid;
  border-bottom: 5px solid;
}
.burger-button:before {
  content: "";
  position: absolute;
  top: 6.5px;
  left: 0px;
  width: 100%;
  border-top: 5px solid;
}


.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-img {
  width: 135px;
}

.header-menu-btn {
  text-decoration: none;
  margin-right: 15px;
  white-space: nowrap;
  color: var(--main-green);
}

.header-reg-btn {
  text-decoration: none;
  border: none;
  white-space: nowrap;
  color: var(--main-green);
}
/* конец header */


/* начало секции 1 */
.main_info {
  margin-top: 60px;
  margin-bottom: 200px;
}

.text-info {
  width: 65%;
}

.main_info-icon {
  display: flex;
  justify-content: right; 
  width: 35%;
}

.main_info-img {
  margin-right: 30px;
  height: 450px;
  display: block;
}

.main_info-header {
  font-size: var(--large);
  margin-bottom: 10px;
}
.main_info-content {
  margin-bottom: 40px;
}

.reg-btn {
  color: var(--main-green);
  font-size: var(--medium_2);
  padding: 15px;
  text-decoration: none;
  border: 1px solid var(--main-green);
  transition: all ease 0.5s;
}
/* конец секции 1 */


/* начало секции 2 */
.about_olimpiad {
  margin-bottom: 60px;
}
.about-header {
  font-size: var(--Biggest);
  margin-bottom: 15px;
}
.about-content {
  font-size: var(--medium);
}
/* конец секции 2 */


/* начало секции 3 */
.directions {
  background-color: var(--main-green);
  margin-top: 30px;
}
.direction-info {
  margin: 0;
	padding: 0 0 5px 0;
}

.directions-header {
  position: relative;
  margin-top: 20px;
  padding-bottom: 30px;
  height: 90px;
  display: flex;
}
.header-label {
  color: black;
  text-align: right;
  padding-left: 0;
  height: 100%;
  width: 50%;
  background-color: var(--main-green);
}
.header_label-container {
  margin-left: auto;
  padding-right: 20px;
  display: block;
  right: 0;
  width: calc(100% - var(--containerPadding));
  max-width: 700px;
}
.header_label_text {
  white-space: nowrap;
  font-size: var(--large);
  margin-top: 30px;
}
.header-comments {
  height: 100%;
  width: 50%;
  background-color: black;
  color: var(--dark-green);
}

.directions-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  color: black;
}
.compony-logo1 {
  height: 35px;
}
.compony-logo2 {
  height: 80px;
}
.direction-header {
  margin: 15px 0 5px 0;
  font-size: var(--medium);
}
.directions-item {
  padding: 15px;
  border: 1px solid black;
  border-top: none;
  border-left: none;
  font-size: var(--medium_2);
}
.directions-item:nth-child(7) { border-bottom: none; }
.directions-item:nth-child(3n) { border-right: none; }
/* конец секции 3 */



/* начало секции 4 */
.stages {
  margin-bottom: 40px;
}
.stages-conteiner {
  font-size: 24px;
  margin-bottom: 40px;
}
.background-img {
  bottom: 0;
  right: 0;
  position: absolute;
  background-image: url(../img/numbers.svg);
  z-index: -1;
  width: 50%;
}
.sec_stage-text {
  margin: 0;
	padding: 10px 0 5px 0;
}
.sec_stage-text::before {
  margin-right: 4px;
  font-size: 25px;
  content: "▪";
}
.stages-header {
  font-size: var(--Biggest);
  margin-bottom: 50px;
}
.sec_stage-header {
  line-height: 58px;
  font-size: var(--Large_2);
}
.stages-reg-btn {
  margin-top: 70px;
}
/* конец секции 4 */

/* страница 2 */
.qulix-body {
  position: fixed;
}
.qulix-container {
  margin-top: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}
.compony-content a {
  color: var(--main-green);
  text-decoration: none;
}
.compony-content a::before {
  color: var(--main-green);
}
.qulix-list p {
  margin-top: 2px;
  margin-bottom: 2px;
}
.qulix-list p::before {
  margin-right: 4px;
  font-size: 10px;
  padding-bottom: 2px;
  content: "●";
}
.compony-header-lable {
  width: 150px;
}
.header-text {
  font-size: calc(var(--medium)*1.2);
}
.about-olimpiad-content {
  font-size: calc(var(--medium)*0.8);
}
.compony-content {
  font-size: var(--small);
}
.non-scroll-footer {
  position: fixed;
  bottom: 20px;

}
/* страница 2 */

/* footer */
footer {
  margin-top: 80px;
  padding-bottom: 50px;
}
.footer-data {
  margin-right: 30px;
  white-space: nowrap;
}
.footer-links {
  margin-right: 10px;
  white-space: nowrap;
  color: var(--main-green);
}
/* конец footer */

/* анимации */
.reg-btn:hover {
  background: var(--main-green);
  color: black;
  transition: 0.7s;
}
/* анимации */

@media  (max-width: 1200px){
  :root { 
    --small: 14px;
    --medium: 13px;
    --medium_2: 16px;

    --large: 32px;
    --Large_2: 38px; 

    --Biggest: 42px;
    --containerPadding: 60px;
  }
  .header-img {
    width: 100px;
  }
  .header_label_text {
    margin-top: 20px;
  }
  .directions-header { 
    height: 70px;
  }
}

@media (max-width: 900px){
  :root { 
    --small: 8px;
    --medium: 12px;
    --medium_2: 12px;

    --large: 28px;
    --Large_2: 34px; 

    --Biggest: 40px;
    --containerPadding: 40px;
  }
  .burger-button {
    display: block;
  }
  .header-menu {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    padding-top: 80px;
    background-color: var(--main-green);
    top: 0;
    transition-duration: .3s;
    left: -100vw;
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: flex-start !important
  }
  .header-menu-btn {
    font-size: var(--large);
    margin-bottom: 10px;
    margin-left: 20px;
    color: black;
  }
  .showen {
    left: 0;
    transition: .3s;
  }
  .hidden {
    left: -100vw;
    transition: .3s;
  }
  .black {
    transition: .3s;
    color: black;
    position: fixed;
  }
  .header-img {
    width: 80px;
  }

  .about-content {
    font-size: var(--medium_2);
  }

  .directions-header { 
    height: 60px;
  }
  .main_info {
    margin-bottom: 100px;
  }
  .main_info-icon {
    display: none;
  }
  .text-info {
    width: 90%;
  }
  
  .directions-table {
    grid-template-columns: 1fr 1fr;
    padding: 8px;
  }
  .directions-item {
    border: 1px solid black;
    border-right: none;
    border-top: none;
  }
  .compony-logo1 {
    height: 30px;
  }
  .compony-logo2 {
    height: 55px;
  }
  .directions-item:nth-child(7) { 
    border-bottom: none; 
    border-right: 1px solid black; 
  }
  .directions-item:nth-child(2n - 1) { border-left: none; }

  .stages-conteiner {
    margin-bottom: 20px;
  }
  .background-img {
    width: 30%;
  }
}
@media (max-width: 600px) {
  :root { 
    --small: 8px;
    --medium: 10px;
    --medium_2: 10px;

    --large: 20px;
    --Large_2: 26px; 

    --Biggest: 32px;
    --containerPadding: 20px;
  }
  .directions-header { 
    height: 45px;
  }
  .header-comments {
    padding-top: 5px;
    font-size: 7px;
  }
  .low_margin{
    padding-bottom: 3px;
  }



  
  .text-info {
    width: 100%;
  }
  .reg-btn {
    padding: 10px;
  }
  .stages-header {
    margin-bottom: 10px;
  }
  .sec_stage-text {
    padding-top: 0;
    margin-top: 0;
  }

  .stages-conteiner {
    font-size: calc(var(--large)/1.2);
  }

  .directions-item {
    border: 1px solid black;
    border-right: none;
    border-top: none;
    padding: 10px 5px 5px 5px;
  }
  .direction-header {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: var(--small);
  }
  .compony-logo1 {
    height: 15px;
  }
  .compony-logo2 {
    height: 25px;
  }

  .background-img {
    display: none;
  }
  .stages-reg-btn {
    margin-top: 45px;
  }

  footer {
    display: none;
  }
}

